@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Pharmacies.Server.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity;
@using Pharmacies.Server.Interfaces

@page "/dashboard"
@attribute [Authorize(Roles = "Admin")]

@inject IUsersService UsersService
@inject NavigationManager NavigationManager
<h3>Dashboard</h3>

<AuthorizeView Roles="Admin">
    <Authorized>
        <table class="table table-hover">
            <tr>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email </th>
                <th>Actions</th>
            </tr>
            <Virtualize Context="user" ItemsProvider="@LoadUsers">
                <tr>
                    <td>
                        @user.FirstName
                    </td>
                    <td>
                        @user.LastName
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        <button @onclick="@(e=>SeeDetails(user.Id))" class="btn btn-info">Details</button>
                    </td>

                </tr>
            </Virtualize>
        </table>
    </Authorized>
    <NotAuthorized>
        <p>Authorized access only!</p>
    </NotAuthorized>
</AuthorizeView>



@code {
    public ICollection<ApplicationUser> Users { get; set; } = new List<ApplicationUser>();
    public ICollection<IdentityUserRole<string>> UserRoles { get; set; } = new List<IdentityUserRole<string>>();

    private async ValueTask<ItemsProviderResult<ApplicationUser>> LoadUsers(ItemsProviderRequest request)
    {
        Users = await UsersService.GetUsers();
        return new ItemsProviderResult<ApplicationUser>(Users, Users.Count());
    }

    

    private void SeeDetails(string id)
    {
        NavigationManager.NavigateTo($"/details/{id}");
    }


}
