@page "/"


@using Pharmacies.Server.Controls
@using Pharmacies.Server.Interfaces
@using Pharmacies.Server.Models
@using System.Linq
@using Pharmacies.Server.Services

@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using GoogleMapsComponents.Maps.Places
@using GoogleMapsComponents.Maps.Coordinates

@using BrowserInterop.Extensions
@using BrowserInterop.Geolocation


@inject IJSRuntime JSRuntime
@inject IPharmacyService PharmacyService
@inject IUsersService UsersService



<link rel="stylesheet" href="css/PharmacySearch.css" />



<div class="container flex-grow-1" style="height:100%">
    <div class="row">
        <div class="col">
            <div class="search">

                <div class="input-group mb-3">
                    <input type="text" @ref="this.searchBox" id="searchBox" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2" />
                    <button @onclick="SearchPharmacies" class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="row">

                <div class="col" id="select_range">

                    <select @bind="@_range" class="form-select" aria-label="Default select example">
                        <option selected>Search range</option>
                        <option value="500">500m</option>
                        <option value="1000">1km</option>
                        <option value="2000">2km</option>
                        <option value="5000">5km</option>
                        <option value="10000">10km</option>
                    </select>
                </div>

                <div class="col" id="TravelMode">
                    <EditForm Model="travelMode">

                        <InputSelect @bind-Value="travelMode" class="form-select" aria-label="Default select example">
                            @foreach (var mode in Enum.GetValues(typeof(TravelMode)))
                            {
                                <option value="@mode">@mode</option>
                            }
                        </InputSelect>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>



    <div class="row  flex-grow-1" style="height:100%">
        <div class="column" id="firstCol">
            <div class="pharmacies">

                @if (_pharmacies != null)
                {
                    <style>
                        #firstCol {
                            width: 30%;
                            height: 80%;
                        }
                    </style>
                    @foreach (var pharmacy in _pharmacies.results)
                    {
                        string reference;
                        if (pharmacy.photos != null)
                        {
                            reference = pharmacy.photos[0].photo_reference;
                        }
                        else
                        {
                            reference = String.Empty;
                        }
                        <PharmacyCard Name="@pharmacy.name"
                                      Vicinity="@pharmacy.vicinity"
                                      PlaceId="@pharmacy.place_id"
                                      Location="@pharmacy.geometry.location"
                                      ImageUrl="@reference"
                                      Rating="@pharmacy.rating"
                                      OnClickCallback="CenterMarker"
                                      ShowDirections="AddDirections"></PharmacyCard>
                    }

                }

                @if (usersPharmacies != null)
                {
                    @foreach (var pharmacy in usersPharmacies)
                    {
                        string reference;
                        if (pharmacy.PhotoReference != null)
                        {
                            reference = pharmacy.PhotoReference;
                        }
                        else
                        {
                            reference = String.Empty;
                        }
                        <PharmacyCard Name="@pharmacy.Name"
                                      Vicinity="@pharmacy.Vicinity"
                                      PlaceId="@pharmacy.Id"
                                      Location="new Location { lat=pharmacy.lat,lng = pharmacy.lng}"
                                      ImageUrl="@reference"
                                      OnClickCallback="CenterMarker"
                                      ShowDirections="AddDirections"></PharmacyCard>
                    }

                }
            </div>
        </div>
        <div class="col-sm flex-grow-1" width="100%">
            <GoogleMap @ref="@(this.map1)" Id="map1" Options="@(this.mapOptions)" OnAfterInit="async () => await OnAfterMapInit()" Height="100%" CssClass="flex-grow-1"></GoogleMap>
        </div>
    </div>
</div>



@code {
    private GoogleMap map1;
    private MapOptions mapOptions;
    private Autocomplete autocomplete;

    private readonly Stack<Marker> markers = new Stack<Marker>();
    private MarkerClustering _markerClustering;

    private string message;

    private ElementReference searchBox;

    private string _address { get; set; }
    private Location _location;
    public Rootobject _pharmacies;
    public List<PharmacyModel> usersPharmacies;
    private int _range = 500;
    public int zoom = 14;

    //geolocation
    private WindowNavigatorGeolocation geolocation;
    private GeolocationPosition geolocationPosition;
    private PlaceResult searchedPlace;

    //directions
    private DirectionsRenderer dirRend;
    private string _durationTotalString;
    private string _distanceTotalString;
    private DirectionsResult _directionsResult;
    private TravelMode travelMode = TravelMode.Driving;

    private string ImageSrc;



    private async Task SearchPharmacies()
    {
        usersPharmacies = UsersService.GetPlacesInRange(searchedPlace.Geometry.Location.Lat, searchedPlace.Geometry.Location.Lng, _range);
        _pharmacies = await PharmacyService.SearchPharmacies(searchedPlace.Geometry.Location.Lat, searchedPlace.Geometry.Location.Lng, _range);

        var coords = new List<(LatLngLiteral latlng, string name)>();

        foreach (var item in _pharmacies.results)
        {
            coords.Add((new LatLngLiteral { Lat = item.geometry.location.lat, Lng = item.geometry.location.lng }, item.name));
        }

        var ids = _pharmacies.results.Select(x => x.place_id).ToList();
        foreach (var item in ids)
        {
            usersPharmacies = usersPharmacies.Where(p => p.Id != item).ToList();
        }

        foreach (var item in usersPharmacies)
        {
            if (!ids.Contains(item.Id))
            {
                coords.Add((new LatLngLiteral { Lat = item.lat, Lng = item.lng }, item.Name));
            }
            else
            {
                var pharmacyToRemove = usersPharmacies.Where(x => x.Id == item.Id).FirstOrDefault();
                usersPharmacies.Remove(pharmacyToRemove);
            }
        }

        if (_markerClustering != null)
            await ClearClustering();

        await InvokeClustering(coords);

    }

    private async Task InvokeClustering(List<(LatLngLiteral, string)> coords)
    {
        var markers = await GetMarkers(coords, map1.InteropObject);

        _markerClustering = await MarkerClustering.CreateAsync(map1.JsRuntime, map1.InteropObject, markers);
        await _markerClustering.FitMapToMarkers(1);
    }

    private async Task ClearClustering()
    {
        await _markerClustering.ClearMarkers();
    }

    private async Task<IEnumerable<Marker>> GetMarkers(IEnumerable<(LatLngLiteral, string)> coords, Map map)
    {
        var result = new List<Marker>(coords.Count());
        foreach (var latLngLiteral in coords)
        {
            var marker = await Marker.CreateAsync(map1.JsRuntime, new MarkerOptions()
            {
                Position = latLngLiteral.Item1,
                Map = map,

            });

            var infoWindowContent = $@"<p>{latLngLiteral.Item2}</p>";

            var infoWindow = await InfoWindow.CreateAsync(map1.JsRuntime, new InfoWindowOptions()
            {
                Position = latLngLiteral.Item1
            });

            await marker.AddListener("click", async () =>
            {
                await infoWindow.SetContent(infoWindowContent);
                await infoWindow.SetPosition(latLngLiteral.Item1);
                await infoWindow.Open(map1.InteropObject);
            });

            result.Add(marker);
        }
        return result;
    }

    private async Task CenterMarker(Location markerLocation)
    {
        await this.map1.InteropObject.SetCenter(new LatLngLiteral { Lat = markerLocation.lat, Lng = markerLocation.lng });
    }


    protected override async Task OnInitializedAsync()
    {

        var window = await JSRuntime.Window();
        var navigator = await window.Navigator();

        geolocation = navigator.Geolocation;

        await GetUserLocation();
        try
        {

            await this.map1.InteropObject.SetCenter(new LatLngLiteral { Lat = geolocationPosition.Coords.Latitude, Lng = geolocationPosition.Coords.Longitude });
            await this.map1.InteropObject.SetZoom(zoom);
        }
        catch (Exception)
        {
            await this.map1.InteropObject.SetCenter(new LatLngLiteral { Lat = 52.2330269, Lng = 20.7810098 });
            await this.map1.InteropObject.SetZoom(6);
        }

        dirRend = await DirectionsRenderer.CreateAsync(map1.JsRuntime, new DirectionsRendererOptions()
        {
            Map = map1.InteropObject
        });

        this.StateHasChanged();

    }


    public async Task GetUserLocation()
    {
        geolocationPosition = (await geolocation.GetCurrentPosition(new PositionOptions()
        {
            EnableHighAccuracy = true,
            MaximumAgeTimeSpan = TimeSpan.FromHours(1),
            TimeoutTimeSpan = TimeSpan.FromMinutes(1)
        })).Location;

    }




    private async Task OnAfterMapInit()
    {


        this.autocomplete = await Autocomplete.CreateAsync(this.map1.JsRuntime, this.searchBox, new AutocompleteOptions
        {
            StrictBounds = false,
            ComponentRestrictions = new ComponentRestrictions { Country = new[] { "pl" } },

        });

        await this.autocomplete.SetFields(new[] { "address_components", "geometry", "name" });

        await this.autocomplete.AddListener("place_changed", async () =>
        {
            var place = await this.autocomplete.GetPlace();
            searchedPlace = place;
            if (place?.Geometry == null)
            {
                this.message = "No results available for " + place?.Name;
            }
            else if (place.Geometry.Location != null)
            {
                await this.map1.InteropObject.SetCenter(place.Geometry.Location);
                await this.map1.InteropObject.SetZoom(13);

                this.message = "Displaying result for " + place.Name;
            }
            else if (place.Geometry.Viewport != null)
            {
                await this.map1.InteropObject.FitBounds(place.Geometry.Viewport, 5);
                this.message = "Displaying result for " + place.Name;
            }

            this.StateHasChanged();
        });
    }



    //directions

    private async Task RemoveRoute()
    {
        await dirRend.SetDirections(null);
        await dirRend.SetMap(null);
    }


    private async Task AddDirections(Location location)
    {
        //Adding a waypoint

        //Direction Request
        DirectionsRequest dr = new DirectionsRequest();
        dr.Origin = searchedPlace.Geometry.Location;
        dr.Destination = new LatLngLiteral { Lat = location.lat, Lng = location.lng };
        dr.TravelMode = travelMode;
        dr.DrivingOptions = new DrivingOptions()
        {
            DepartureTime = DateTime.Now.AddHours(1)
        };

        //Calculate Route
        _directionsResult = await dirRend.Route(dr, new DirectionsRequestOptions()
        {
            StripLegsStepsLatLngs = false,
            StripOverviewPath = false,
            StripOverviewPolyline = false,
            StripLegsStepsPath = false,
            StripLegsSteps = false
        });


        var routes = _directionsResult.Routes.SelectMany(x => x.Legs).ToList();

        foreach (var route in routes)
        {
            _durationTotalString += route.DurationInTraffic?.Text;
            _distanceTotalString += route.Distance.Text;
        }
    }



}









